@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Reem+Kufi:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Amiri+Quran&family=Reem+Kufi:wght@400..700&display=swap");

@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}

* {
  box-sizing: border-box;
  direction: rtl;
  unicode-bidi: bidi-override;
}
.lateef-extralight {
  font-family: "Lateef", serif;
  font-weight: 200;
  font-style: normal;
}
.lateef-light {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
}
.lateef-regular {
font-family: "Lateef", serif;
font-weight: 400;
font-style: normal;
}

.lateef-medium {
font-family: "Lateef", serif;
font-weight: 500;
font-style: normal;
}

.lateef-semibold {
font-family: "Lateef", serif;
font-weight: 600;
font-style: normal;
}

.lateef-bold {
font-family: "Lateef", serif;
font-weight: 700;
font-style: normal;
}

.lateef-extrabold {
font-family: "Lateef", serif;
font-weight: 800;
font-style: normal;
}                                       
.noto-naskh-arabic-cqur {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}   
.mainpageheading {                
  text-align: center;                
  font-size: 60px;
  font-family: "Alkalami", serif;
  background-color: rgb(180, 221, 99);
  color: rgb(111, 105, 18);
  padding-bottom: 10px;             
}
.kalimah {
  font-family: "Lateef", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  text-underline-offset: 2px; /* This won't work with IE*/
  padding-top: 15px;
  padding-bottom: 10px;                
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

div.divUr {
  unicode-bidi: bidi-override;
  font-family: "Noto Nastaliq Urdu";
  text-align: center;
  font-size: smaller;
  display: inline-block;
}                 
ul.alpha {
  font-family: "Amiri Quran", serif;
  font-size: larger;
  list-style: none;
  padding-bottom: 10px;
}
ul.root {
  font-family: "Amiri Quran", serif;
  font-size: small;
  list-style: none;
  display: inline;                
}
li.ltr {
  display: inline-block;
  padding-right: 15px;
  margin-right: 20px;
  white-space: nowrap;
  text-indent: 0;
}
a {
  text-decoration: none;
}    

.emptydiv {
  font-family: "Noto Nastaliq Urdu";                
  font-size: x-large;
  color: blue;
  width: 100%;
  text-align: center;
  height: 100px;
} 

.leftdiv {
  max-width: 5%;
  height: 100%;
  display: inline-block;
}
td, tr {       
  border-bottom: 1px solid gray;                 
  border-left: 1px solid gray;    
  border-collapse: collapse; 
  padding-top: 5px;
}

table {
  table-layout: fixed;
  width: 100%;  
}
.numtd{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  direction: ltr;
  text-align: center;
  width: 5%;  
}
.soorahtd {             
  font-family: "Lateef", serif;
  font-weight: 500;
  font-size: large;
  font-style: normal;
  width: 11%;
  padding-right: 10px;  
} 
.ayattd {             
  font-family: "Lateef", serif;
  font-weight: 500;
  font-size: large;
  font-style: normal;
  width: 42%;
  padding-right: 10px;
} 
.trantd {
  font-family: "Noto Nastaliq Urdu";                
  font-size: medium;
  width: 42%;
  padding-right: 10px;
} 