<!DOCTYPE html>
<html>
<head>
	<title>Concorance of Quran</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
	<link rel="stylesheet" href="concordanceQuran.css">
	<!--Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!--Urdu-->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap" rel="stylesheet">
	<!--Ayat-e-Quran-->
	<link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Amiri+Quran&family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
	<!--Arabic Caligraphic-->
	<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Reem+Kufi:wght@400..700&display=swap" rel="stylesheet">
	<!--Google Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>	
	<header>
		<section>
			هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْنَ
		</section>
	</header>
	<section>
		<ul class="navUl">
			<li class="navLiHor"> <a href="#home">  Home</a></li>
			<li class="navLiHor"><a href="#contact"> Contact</a></li>
			<li class="navLiHor"><a href="#about"> About</a></li>
		</ul>	
	</section>
	<section>
		<div class="divFilterArea">
			<form action="">
				<input list="baabs" dir="rtl">
				<datalist id="baabs"> 
					<option value="ا">
					<option value="ب">
					<option value="ت">
					<option value="ث">
					<option value="ج">
				</datalist>

			</form>
			<label for="baab"> باب </label>
			<select id="baab" name="baab" size="6">
				<option value="ا">ا</option>
				<option value="ا">ب</option>
				<option value="ا">ت</option>
				<option value="ا">ث</option>
				<option value="ا">ج</option>
				<option value="ا">ح</option>
				<option value="ا">خ</option>
				<option value="ا">د</option>
				<option value="ا">ذ</option>
				<option value="ا">ر</option>
				<option value="ا">ز</option>
				<option value="ا">س</option>
				<option value="ا">ش</option>
				<option value="ا">ص</option>
				<option value="ا">ض</option>
				<option value="ا">ط</option>
				<option value="ا">ظ</option>
				<option value="ا">ع</option>
				<option value="ا">غ</option>
				<option value="ا">ف</option>
				<option value="ا">ق</option>
				<option value="ا">ك</option>
				<option value="ا">ل</option>
				<option value="ا">م</option>
				<option value="ا">ن</option>
				<option value="ا">و</option>
				<option value="ا">ه</option>
				<option value="ا">ى</option>
				<option value="ا">ء</option>
			</select>

			<!--
			<div class="dropdown">
				<span>  باب  </span>
				<div class="dropdown-content">
					<p>ا</p>
					<p>ب</p>
					<p>ت</p>
					<p>ث</p>
					<p>ج</p>
					<p>ح</p>
					<p>خ</p>
					<p>د</p>
					<p>ذ</p>
					<p>ر</p>
					<p>ز</p>
					<p>س</p>
					<p>ش</p>
					<p>ص</p>
					<p>ض</p>
					<p>ط</p>
					<p>ظ</p>
					<p>ع</p>
					<p>غ</p>
					<p>ف</p>
					<p>ق</p>
					<p>ك</p>
					<p>ل</p>
					<p>م</p>
					<p>ن</p>
					<p>و</p>
					<p>ه</p>
					<p>ى</p>
				</div>
			</div>
			<p> حروف سورةآيت</p>		
			-->	
		</div>
	
		<div class="divTable">
			<table>
				<tr class="sticky">
					<th width=auto>سورة نمبر</th>
					<th width=auto>سورة</th>
					<th width=auto>آيت نمبر</th>
					<th width=auto>آيت</th>
					<th width=auto>ترجمه</th>
				</tr>
				<tr>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td class="ayatText">هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْن</td>
					<td>يہ کلام انسان کے لۓ ہے اور ہدايت ہے اور نصيحت ہے پرہيزگاروں کے لۓ</td>
				</tr>
				<tr>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td class="ayatText">هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْن</td>
					<td>يہ کلام انسان کے لۓ ہے اور ہدايت ہے اور نصيحت ہے پرہيزگاروں کے لۓ</td>
				</tr>
			</table>
		</div>
	</section>
	<!--
	<div id="dataArea" style="overflow-x:auto;">
		<table>
	-->
	<footer>
		<input type="text">
		<input type="checkbox">
		<input type="radio">
		<input type="submit" value="Sub">
		<input type="button">
	
		<h1>هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْنَ</h1>
		<h1 class="reem-kufi">هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْنَ</h1>
		
		<h1 class="amiri-quran-regular">هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْنَ</h1>
		
		<p>
			اور  سکھايا تمہيں جو تمہيں نہيں معلوم تھا اور يہ تم پر اللہ کا بڑا فضل ہے
		</p>
		<p class="noto-nastaliq-urdu">
			اور  سکھايا تمہيں جو تمہيں نہيں معلوم تھا اور يہ تم پر اللہ کا بڑا فضل ہے
		</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>
		<p>Default English font</p>

		<p>Default English font</p><p>Default English font</p>

		<p>
			<span class="material-symbols-sharp">
				wind_power				
			</span>
			<a href="https://www.w3schools.com">Link </a>
		</p>
	
	</footer>
</body>
</html>