{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Enter</title>
        <link rel="stylesheet" href="{% static 'concordanceQuran.css' %}">
    </head>
    <body style="direction: ltr;">
        <div class="cqenter-bg-img">
            <div class="cqenter-container">                
                <div class="cqenter-topnav">
                    <a href="cqmainen/" style="float: left;"> <h3 >English</h3></a>
                    <a href="cqurmain/" style="float: right;"><h3 style="direction: rtl;">اردو</h3></a>
                </div>                   
            </div>
        </div>
    </body>
</html>
