{% extends "cqur_master.html" %} 
{% block titleentry %}
    Kalimaat
{% endblock %}
{% block alphabet %} 
<table style="width: max-content;">
    <tr>
        <th style="width: 20px; direction: ltr;">Arabic alphabet</th>
        <th style="width: 50px; direction: ltr;">Root letter</th>
        <th style="width: 50px; direction: ltr;">Kalimah</th>
    </tr>
    {% for k in kalimaat %}        
        {% ifchanged k.kalimah_text %}
            <tr>
                <td>{{ k.alphabet_text }}</td>
                <td>{{ k.root_letter_text }}</td>
                <td><a href="/cquradbk/{{k.kalimaat_id}}/"> {{ k.kalimah_text}}</a></td>
            </tr>
        {% endifchanged %}
    {% endfor %}    
</table>
{% endblock %}
      
