{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Title, style, script, meta, link, base-->
        <!--meta-->
        <meta lang="en">
        <meta charset="utf8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <link rel="stylesheet" href="{% static 'concordanceQuran.css' %}">                
        {% block linkentry %}
        {% endblock %}
        <!--title-->        
        <title>
            {% block titleentry %}           
            {% endblock %}
        </title>        
        <!--styles-->
    </head>
    <body>
        <div class="flex-container borderimg">            
            <div class="allpageheading">                
                هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْنَ
            </div>
            <div class="navlink">
                <nav>
                    <a href="/" style="padding: 10px;">ابتداء</a>
                    <a href="/cqAlRo" style="padding: 10px;">حروف اصليہ </a>                
                </nav>
            </div>     
            <!--For Main page-->              
            <div class="divUr">
                <p style="border: 0px; margin: 0px;">
                    {% block opstmnttitle %}
                    {% endblock %}
                    {% block opstmnt %}
                    {% endblock %}
                </p>
                {% block useinstitle %}
                {% endblock %}
                <p style="border: 0px; margin: 0px;">
                    {% block useins %}
                    {% endblock %}
                </p>              
                {% block warntitle %}
                {% endblock %}
                <p style="border: 0px; margin: 0px;">
                    {% block warn %}
                    {% endblock %}
                </p>                   
                {% block reftitle %}
                {% endblock %}   
                <ul class="ulUr">
                    {% block reflist %}
                    {% endblock %}
                </ul>        
            </div>
            <div>
                {% block rootlist %}        
                {% endblock %}
            </div>     
            <div class="w3-responsive">
                {% block ayatdet %}
                {% endblock %}
            </div>        
        </div>        
    </body>
    <footer>
         <hr/>
        <p style="direction: rtl; text-align: center;">و ما توفيقى الا باالله</p>
    </footer>
</html>
