{% extends "cqur_master.html" %}
{% block titleentry %}
    Concordance Main
{% endblock %}
{% block url %}
cqAlRo
{% endblock %}
{% block navtext %}
    شروعات
{% endblock %}
{% block opstmnttitle %}
<h2>بسم الله الرحمن الرحيم</h2>
{% endblock %}
{% block opstmnt %}
ہو سب سے بہلے خداۓ وحدہ لا شریک کا لاکھ لاکھ شکر ادا کرتے ہيں۔۔۔
"المعچم المفہرس لالفاظ القران" جس کو مصر کے مايہ ناز محقق حضرت استاز محمد فواد عبدالباقی رحمتہ اللہ علیہ
نے اس عمدگی سے مرتب کيا ہے کہ اس کے ذريعے قران کريم کے تمام الفاظ (وہ افعال ہوں یا اسماء پھر 
ان کی مختلف حالتيں) کی تلاش نہ صرف یہ کہ نہایت آسان ہے بلکہ ہر مادہ کی متعلقہ آيات
بھی يکجا جمع کر دی ہيں۔
{% endblock %}
{% block useinstitle %}
<h2  style="border: 0px; margin: 0px; ">طريقۂ تلاش</h2>
{% endblock %}
{% block useins %}
قرآن کريم کا جو لفظ بھی مطلوب ہے اس کا مادہ (حروف اصليہ) معلوم ہونا چاہۓ۔  
        مثلا ہم اگر لفظ الله تلاش کرنا چاہيں تو ہم حروف تہجی کہ لحاظ سے الله کا مادہ
        (ا ل ہ) تلاش کر کے اس کے تحت ديکھيں گے۔
        الفاظ کے ساتھ سورة، سورۃ نمبر، أٓية، آية نمبراور مکی يا مدنی کی صراحت ملے گی۔
{% endblock %}
{% block warntitle %}
<h2 style="border: 0px; margin: 0px;">انتباہ</h2>
{% endblock %}
{% block warn %}
يہاں یہ نشاندہی ضروری ہے کہ معجم المفہرس میں صفحے کے شروع اور اختتام کے الفاظ کے حروف اصليہ  
صفحے کی پيشانی پر درج کۓ ہيں۔  ان الفاظ کے مابين ديگر الفاظ
 بھي ہيں جن کے حروف اصليہ درج نہيں ہیں۔ اس صورت میں <span style="direction: ltr;">corpus.quran.com</span> سے مدد لی گئ ہے۔
جن الفاظ کے حروف اصليہ دستیاب نہ ہو سکے انہیں حروف تہجی کے تحت جمع کر دیا ہے۔
 معجم المفهرس اور <span style="direction: ltr;">corpus.quran.com</span> كے مابين
 حروف اصلیہ کے اختلاف کی صورت میں مؤخر الذکر کو ترجیح دی گئ ہے۔
{% endblock %}
{% block reftitle %}
<h2 style="border: 0px; margin: 0px;">حوالہ جات</h2>
{% endblock %}
{% block reflist %}
    <li>ماخوز: المُعْجَمُ امُفَهْرَس لِالفاظ الْقُرآنِ الْكَرِيم</li>
    <li>وضعه: محمد فواد عبدالباقی</li>
    <li>ناشر(کتاب): سہيل اکيڈمی، اردو بازار، لاھور، پاکستان</li>
    <li>طبع(کتاب): طبعہ ثالث (٨٠٤١ ۔ ٧٨٩١) </li>
    <li>متن آیات قرآن:   <a style="direction: ltr;" href="http://tanzil.net/">(Tanzil.org)   </a> </li>          
    <li>ترجمہ آیات قرآن:  مولانا فتح محمد جالندھری  <a style="direction: ltr;" href="http://tanzil.net/">(Tanzil.org)   </a> </li>              
    <li>ماخذات حروف اصلیہ:  المُعْجَمُ المفہرس، <span style="direction: ltr;"> (corpus.quran.com) </span></li>
{% endblock %}
   

