{% extends "cqur_master.html" %}
{% block titleentry %}
    Concordance Main
{% endblock %}
{% block url %}
cqAlRo
{% endblock %}
{% block navtext %}
    شروعات
{% endblock %}
{% block articleentry %}
                    <h2>کچھ اپنی زبان ميں</h2>
                    ہو سب سے بہلے خداۓ وحدہ لا شریک کا لاکھ لاکھ شکر ادا کرتے ہيں۔۔۔ <br>
                    "المعچم المفہرس لالفاظ القران" جس کو مصر کے مايہ ناز محقق حضرت استاز محمد فواد عبدالباقی رحمتہ اللہ علیہ
                    نے اس عمدگی سے مرتب کيا ہے کہ اس کے ذريعے قران کريم کے تمام الفاظ (وہ افعال ہوں یا اسماء پھر 
                    ان کی مختلف حالتيں) کی تلاش نہ صرف یہ کہ نہایت آسان ہے بلکہ ہر مادہ کی متعلقہ آيات
                    بھی يکجا جمع کر دی ہيں۔
                    <br>
                    <h2>طريقۂ تلاش</h2>
                    قرآن کريم کا جو لفظ بھی مطلوب ہے اس کا مادہ (حروف اصليہ) معلوم ہونا چاہۓ۔  
                    مثلا ہم اگر لفظ الله تلاش کرنا چاہيں تو ہم حروف تہجی کہ لحاظ سے الله کا مادہ
                    (ا ل ہ) تلاش کر کے اس کے تحت ديکھيں گے۔
                    الفاظ کے ساتھ سورة، سورۃ نمبر، أٓية، آية نمبراور مکی يا مدنی کی صراحت ملے گی۔
                    <br>
                    <h2>انتباہ</h2>
                    يہاں یہ نشاندہی بہت ضروری ہے کہ مرتب نے کسی صفحے کے شروع اور اختتام کے الفاظ کے حروف اصليہ  
                     صفحے کی پيشانی پر درج کۓ ہيں۔  ان الفاظ کے مابين ديگر الفاظ
                    بھي ہيں جن کے حروف اصليہ درج نہيں ہیں۔ اس صورت میں <span style="direction: ltr;">corpus.quran.com</span> سے مدد لی گئ ہے۔
                    جن الفاظ کے حروف اصليہ دستیاب نہ ہو سکے انہیں حروف تہجی کے تحت جمع کر دیا ہے۔
                    <br>
                    <h2>حوالہ جات</h2>
                    <ul>
                        <li>ماخوز: المُعْجَمُ امُفَهْرَس لِالفاظ الْقُرآنِ الْكَرِيم</li>
                        <li>وضعه: محمد فواد عبدالباقی</li>
                        <li>ناشر(کتاب): سہيل اکيڈمی، اردو بازار، لاھور، پاکستان</li>
                        <li>طبع(کتاب): طبعہ ثالث (٨٠٤١ ۔ ٧٨٩١) </li>
                        <li>متن آیات قرآن: <a style="direction: ltr;" href="http://tanzil.net/">Tanzil.org </a> </li>                    
                        <li>ماخذات حروف اصلیہ:  المُعْجَمُ المفہرس، <span style="direction: ltr;">corpus.quran.com</span></li>
                    </ul>
{% endblock %}