{% extends "cqur_master.html" %}
{% block titleentry %}
    Ayaat by root
{% endblock %}
{% block frontcover %}
    <div class="cqadbrur-bg">       
        <img src="/static/bgimg1blk.png" alt="Center Part of Image" class="cqadbrur-bg-img">   
        <div class="cqadbrur-overlay-title">
            <h1>فہرست کلمات قرآن</h1>                                                                      
        </div>
        <div class="cqadbrur-overlay-author">
            <h1>مرتب:&nbsp;&nbsp;ڈاکٹر کامران احمد بٹ</h1>            
        </div>
        <div class="cqadbrur-overlay-alphabet">
            {% with al=ayaat|first %}
            <h1>{{ al.alphabet_text }}</h1>  
            {% endwith %}                                                                    
        </div>         
        <div>
            {% for rmean in rootmean %}            
                {% if forloop.first %}                
                    <div class="cqadbrur-overlay-start">
                        <h3>{{ rmean.root_letter_text }}</h3>                                                                      
                    </div>      
                {% elif forloop.last %}
                    <div class="cqadbrur-overlay-ta">
                        <h3> تا </h3>                                                  
                    </div>
                    <div class="cqadbrur-overlay-end">
                        <h3>{{ rmean.root_letter_text }}</h3> 
                    </div>      
                {% endif %}
            {% endfor %}
        </div>
        <div class="cqadbrur-overlay-vol ">
           <h1> شمارہ&nbsp;&nbsp;٢</h1>
        </div>
        <div class="cqadbrur-overlay-year">
            <h1>١٠-٢٠٢٥</h1>            
        </div>
    </div> 
{% endblock %}
{% block references %}
    <div class="ifccontent">
        <h3 id="refhead" class="ifchead">حوالہ جات</h3>
        <ul id="ifcul" class="ifcul">                
            <li id="idxsrc"">ماخذ فہرست: المُعْجَمُ امُفَهْرَس لِالفاظ الْقُرآنِ الْكَرِيم (وضعه: محمد فواد عبدالباقی)</li>
            <li id="ayatsrc">متن آیات قرآن: ten.liznat</li>          
            <li id="transrc">ترجمہ آیات قرآن:  مولانا فتح محمد جالندھری (ten.liznat) </li>              
            <li id="rootsrc">ماخذات حروف اصلیہ:  المُعْجَمُ المفہرس ، moc.naruq.suproc</li>                                  
        </ul>
    </div>        
{% endblock %}
{% block preface %}
<div class="flex-container">              
    <h2></h2>
    <div class="mainpageheading">                
        هَذَا بَيَانٌ لِّلنَّاسِ وَ هُدًى وَ مُوْعِظَةٌ لِّلْمُتَّقِيْنَ
    </div>           
    <div class="divUr">
        <p style="border: 0px; margin: 0px;">
            <h3>بسم الله الرحمن الرحيم</h3>
        </p>
        <p>
            <span>سب سے بہلے خداۓ وحدہ لا شریک کا لاکھ لاکھ شکر ادا کرتے ہيں جس نے اس کام کی توفیق دی۔ </span><br>            
            <span>مطالعہ قرآن کے دوران ایک تحریک پیدا ہوئی کہ یہ معلوم کیا جاۓ کہ قرآن کے الفاظ خود قرآن میں کس طرز پر استعمال ہوۓ ہیں تاکہ ایک سیاق و سباق ان الفاظ کا واضح مزید ہو۔</span><br>
            <span>اس ارادہ کے تحت مصر کے مايہ ناز محقق حضرت استاز محمد فواد عبدالباقی رحمتہ اللہ علیہ کی "المعچم المفہرس لالفاظ القران" نظر سے گزری۔</span><br>
            <span>اس میں قران کريم کے تمام الفاظ (وہ افعال ہوں یا اسماء پھر ان کی مختلف شکلیں) سے متعلق آيات یکجہ کر دی گئ ہیں-</span><br>
'           <span>اس کاوش کا مقصد "المعچم المفہرس" کی طرز پر آيات کا مکمل متن مع ترجمہ مرتب کرنا ہے</span><br>
        </p>
        <p>
            <span>یہاں جو معلومات فراہم کی گئ ہیں اس کے حصول کے دیگر اچھے ماخذات دستیاب  ہیں۔</span><br>
            <span>فرق محض معلومات کے پیش کرنے کے طریقے میں ہے۔ ان ماخذات کے حوالہ جات درج کر دیۓ گۓ ہیں۔ </span><br>
            <span>قارئین ان حوالہ جات سے رجوع کر سکتے ہیں اور قرآن فہمی میں مزید بہتری پیدا کر سکتے ہیں۔ </span>            
        </p>                
    </div>
    <div>
        <h4><p style="direction: rtl; text-align: center;">و ما توفيقى الا باالله</p></h4>
    </div>            
</div>
{% endblock %}
{% block intro %}
<div class="flex-container"> 
    <h2></h2>             
    <div class="mainpageheading">                
        وَ عَلَّمَكَ مَا لَمْ تَكُن تَعْلَمُ وَ كَانَ فَضْلُ ٱللَّهِ عَلَيْكَ عَظِيمًا
    </div>           
    <div class="divUr">
        <p style="border: 0px; margin: 0px;">
            <h3>کچھ اس اشاعت کے بارے میں۔۔۔</h3>
        </p>                
        <p>
            {% with al=ayaat|first %}                            
                {% if al.alphabet_text != al.root_letter_text %}
                    <span>اس اشاعت میں حرف "{{ al.alphabet_text }}" سے شروع ہونے والے وہ کلمات قرآن شامل کۓ گۓ ہیں جن کے حروف اصليہ مع مرکزی مفہوم درج ذیل ہیں</span><br>
                    <span style="font-size: smaller;">حروف اصلیہ کا ترجمہ نہیں ہوتا۔ ان کا مرکزی مفہوم ان پر مبنی کلمات کے مفہوم کی اکثر و بیشتر آپس میں مشابہت کو واضح کرتا ہے۔ &nbsp;کلمات کے ترجمہ کے لیۓ لغت کا استعمال کریں۔</span>                    
                {% else %}
                    {% for zl in ayaat %}
                        {% if forloop.last %}
                            {% if al.alphabet_text == zl.alphabet_text %}
                                <span>اس اشاعت میں حرف "{{ al.alphabet_text }}" سے شروع ہونے والے وہ کلمات قرآن شامل کۓ گۓ ہیں جن کے حروف اصليہ نہیں ہوتے۔</span><br>                                    
                            {% elif al.alphabet_text != zl.alphabet_text %}
                                <span>اس اشاعت میں حرف "{{ al.alphabet_text }}" تا "{{ zl.alphabet_text}}" سے شروع ہونے والے وہ کلمات قرآن شامل کۓ گۓ ہیں جن کے حروف اصليہ نہیں ہوتے۔</span><br>
                            {% else %}
                                <span>Either Root letters or alphabet, not both</span><br>
                            {% endif %}
                        {% endif %}  
                    {% endfor %}
                {% endif %}
            {% endwith %}  
        </p>
    </div>            
</div>
{% endblock %}
{% block rootmean %}
    {% with al=ayaat|first %}
        {% if al.alphabet_text != al.root_letter_text %}
            <div class="rootmeanrow">
                {% if rootcount <= 14 %}
                    <table class="singletablecenter">
                        <tr>
                            <th class="tdurdu" style="border: 1px solid black;">نمبر</th>
                            <th class="tdurdu" style="border: 1px solid black;">حروف اصليہ</th>
                            <th class="tdurdu" style="border: 1px solid black;" >مرکزی مفہوم</th>
                        </tr>
                        {% for rmean in rootmean %}
                            {% if rmean.core_meaning %}
                                {% if forloop.counter <= 14 %}                            
                                    <tr style="border: 1px solid black;">
                                        <td class="tdeng" style="border: 1px solid black;  width: 5px;">{{ forloop.counter }}</td>
                                        <td class="tdurdu" style="border: 1px solid black; width: 80px;">{{ rmean.root_letter_text }}</td>
                                        <td class="tdurdu" style="border: 1px solid black; width: 180px;">{{ rmean.core_meaning }}</td>  
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>            
                {% else %}
                <div class="rootmeancolumn">
                    <table class="rootmeantable">
                        <tr>
                            <th class="tdurdu" style="border: 1px solid black;">نمبر</th>
                            <th class="tdurdu" style="border: 1px solid black;">حروف اصليہ</th>
                            <th class="tdurdu" style="border: 1px solid black;" >مرکزی مفہوم</th>
                        </tr>
                        {% for rmean in rootmean %}
                            {% if rmean.core_meaning %}
                                {% if forloop.counter <= halfcount %}                            
                                    <tr style="border: 1px solid black;">
                                        <td class="tdeng" style="border: 1px solid black; width: 5px;">{{ forloop.counter }}</td>
                                        <td class="tdurdu" style="border: 1px solid black; width: 80px;">{{ rmean.root_letter_text }}</td>
                                        <td class="tdurdu" style="border: 1px solid black; width: 180px;">{{ rmean.core_meaning }}</td>  
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>        
                </div>    
                <div class="rootmeancolumn">
                    <table class="rootmeantable">
                        <tr>
                            <th class="tdurdu" style="border: 1px solid black;">نمبر</th>
                            <th class="tdurdu" style="border: 1px solid black;">حروف اصليہ</th>
                            <th class="tdurdu" style="border: 1px solid black;" >مرکزی مفہوم</th>
                        </tr>
                        {% for rmean in rootmean %}
                            {% if rmean.core_meaning %}
                                {% if forloop.counter > halfcount %}                            
                                    <tr style="border: 1px solid black;">
                                        <td class="tdeng" style="border: 1px solid black; width: 5px;">{{ forloop.counter }}</td>
                                        <td class="tdurdu" style="border: 1px solid black; width: 80px;">{{ rmean.root_letter_text }}</td>
                                        <td class="tdurdu" style="border: 1px solid black; width: 180px;">{{ rmean.core_meaning }}</td>  
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block ayatdet %}
    {% for a in ayaat %}        
        {% ifchanged a.kalimah_text %} 
            {% ifchanged a.root_letter_text %} 
                <div id="kalimah" class="kalimah"> <h3>{{a.root_letter_text}}</h3> </div>
            {% endifchanged %} 
            <div id="kalimah" class="kalimah"> <h3>{{a.kalimah_text}}</h3> </div>
        {% endifchanged %}   
                <table class="tableayat">          
                    <tr>
                        <td class="tdsseq">{{ a.soorah_seq_no_ar }}</td>
                        <td class="tdsoorah">{{ a.soorah_name }}</td>
                        <td class="tdaseq">{{ a.ayat_seq_no_ar }}</td>
                        <td class="tdayat">{{ a.ayat_text }}</td>                        
                    </tr>
                    <tr>                            
                        <td class="tdsseq"></td>
                        <td class="tdsoorah"></td>
                        <td class="tdaseq"></td>
                        <td class="tdurdu">{{ a.translation_urdu }}</td>  
                    </tr> 
                </table>
                
            {% empty %}
                <div class="emptydiv"> انتظار فرماىٔيں۔
                </div>
            {% endfor %}
{% endblock%}

