{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!--Title, style, script, meta, link, base-->
        <!--meta-->
        <meta lang="en">
        <meta charset="utf8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>        
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>
        <link rel="stylesheet" href="{% static 'concordanceQuran.css' %}">  
        {% block linkentry %}
        {% endblock %}
        <!--title-->        
        <title id="alltitle"> 
            {% block titleentry %}           
            {% endblock %}
        </title>        
        <!--styles-->
    </head>
    <body> 
        {% block nav %}
            <div class="navlink">
                <nav>
                    <a href="/" style="padding: 10px;">ابتداء</a>               
                    <a href="/cqrootletter" style="padding: 10px;">حروف اصليہ </a>                
                    <!-- <a href="/cqkalimaat" style="padding: 10px;">کلمات قرآن </a>       -->                 
                </nav>
                <br>            
            </div> 
        {% endblock %}
        {% block frontcover %}
        {% endblock %}
        {% block references %}
        {% endblock %}
        {% block preface %}
        {% endblock %}
        {% block intro %}
        {% endblock %}        
        {% block rootmean %}
        {% endblock %}        
        {% block main %}
        {% endblock %}
        {% block alphabet %}
        {% endblock %}
        {% block rootlist %}        
        {% endblock %}                
        <div class="w3-responsive">
            {% block ayatdet %}
            {% endblock %}
        </div>   
           
    </body>
    <footer>
        <hr/>
        {% block footer %}
        {% endblock %}
    </footer>
    <script>
        function toggleLanguage(language) {           
            console.log(language);
            let ptitle = document.getElementById("alltitle").innerHTML; 
            let ptext = '';
            ptitle = ptitle.trim();
            console.log(ptitle);
            if (language == 'english') {
                if (ptitle == 'Concordance Main') {
                    popenstmnt = document.getElementById("openstmnt");
                    puseins = document.getElementById("useins");
                    ptext = 'All thanks to Allah for bestowing the capability for this task. <br>';
                    ptext = ptext + ' Hazrat Muhammad Fawad Abdul Baqi, may God bless him and grant him peace, did a wonderful';
                    ptext = ptext + ' job of compiling words of the Holy Quran, there variations and made it simple to find';
                    ptext = ptext + ' soorahs and ayaats containing them by collecting them all together using root letters.';
                    ptext = ptext + ' The information provided here is largely based on his work.';
                    popenstmnt.innerHTML = ptext;
                    popenstmnt.style.direction = 'ltr';
                    ptext = '';
                    ptext = 'There are a lot of good sources for the information presented here <br>';
                    ptext = ptext + 'The difference is in style of presentation.  References are provided.<br>';
                    ptext = ptext + 'Quranic text and translation are also available for download on tanzil.net.<br>';
                    ptext = ptext + 'Root letter search along with list of words and related Aayat is also available on corpus.quran.com.<br>';
                    ptext = ptext + 'corpus.quran.com also carries more information about the grammar as well.<br>';
                    ptext = ptext + 'Readers are encouraged to consult these websites for a richer experience.<br>';
                    ptext = ptext + '<br><br><br><br><br>';
                    puseins.innerHTML = ptext;
                    puseins.style.direction = 'ltr';
                }                
            }            
        }
        function printpage(){
            let pbuttone = document.getElementById("buttone");
            let pbuttonu = document.getElementById("buttonu");
            let pbuttonp = document.getElementById("buttonp");

            pbuttone.style.visibility = "hidden";
            pbuttonu.style.visibility = "hidden";
            pbuttonp.style.visibility = "hidden";
            window.print();
            pbuttone.style.visibility = "visible";
            pbuttonu.style.visibility = "visible";
            pbuttonp.style.visibility = "visible";            
        }
    </script>
</html>
<!--
                    <span> ا ب ب ، ا ب د ، ا ب ق ، ا ب ل ، ا ب و ، ا ب ى </span><br>    
                    <span>ا ت ى</span><br>
                    <span>ا ث ث، ا ث ر، ا ث ل، ا ث م، ا ج ج، ا ج ر، ا ج ل، ا ح د</span><br>
                    <span>ا خ ذ ، ا خ ر</span><br>
                    <span>ا خ و ، ا د د ، ا د ى ، ا ذ ن ، ا ذ ى ، ا ر ب</span><br>
                    <span>ا ر ض</span><br>
                    <span>ا ر ك ، ا ز ر ، ا ز ز ، ا ز ف ، ا س ر ، ا س س ، ا س ف ، ا س ن ، ا س و ، ا ش ر ، ا ص ر ، ا ص ل ، ا ف ف ، ا ف ق ، ا ف ك ، ا ف ل ، ا ك ل ، ا ل ت ، ا ل ف ، ا ل م</span><br>                    
                    <span>ا ل ه</span><br>
                    <span>ا ل و ، ا م ت ، ا م د ، ا م ر ، ا م ل ، ا م م</span><br>
                    <span>ا م ن</span><br>
                    <span>ا م و ، ا ن ث ، ا ن س ، ا ن ف ، ا ن م ، ا ن ى ، ا ه ل ، ا و ب ، ا و د</span><br>                    
                    <span>ا و ل</span><br>                                 
                    <span>ا و ه ، ا و ى ، ا ى د ، ا ى م ، ا ى ى</span><br>                           
                    <span>اس اشاعت میں حرف "ا" سے شروع ہونے والے کلمات قرآن شامل کۓ گۓ ہیں جن کے حروف اصليہ مع مرکزی مفہوم درج ذیل ہیں</span><br>            
                    <span style="font-size: smaller;">ان پر مبنی الفاظ کا مطلب اکثر و بیشتر مرکزی مفہوم سے مشابہت رکھتا ہے۔    کلمات کے ترجمہ کے لیۓ کسی معیاری لغت کا استعمال کریں۔</span>
                    
                    <span style="font-size: smaller;">٭ حروف اصليہ کا ترجمہ نہیں ہوتا کیونکہ یہ کلمہ یا لفظ کے ضمرے میں نہیں آتے۔</span>                    
                    
                    
-->